
body{
    margin: 4cm;
}

.Profil{
    display: flex;
    height: 200px;
    font-family: "Heebo", sans-serif;
    margin: auto;
 
}

.Nama >h1 {
    display: flex;
    margin: 20px 0px 0px 0px;
    
    left: 148px;
    top: 228px;

    
}

.Nama > h2{
    margin: 0px 0px 0px 100px;
    
}

.Nama > h4{
    text-align: justify;
    padding:0px 90px 0px 0px;
}

.Foto {
    display: flex;
    width: 506px;
    height: 1050px;
    
}

.Foto > img{
    border-radius: 50%;
    height: 205px;
    width: 200px;
}

.Isi{
    display: flex;
    font-family: "Inter", sans-serif;
    background-color: rgb(206, 245, 245);
}

.Kontak{
    width: 500px;    
    
}

.Kontak > h2{
    color: darkgreen;     
}

.Kontak > h3{
    font-size: 12pt;
    color: black;
}

.Pendidikan{
    width: 320px;
}

.Pendidikan > h2{
    color: darkgreen;     
}

.Pendidikan > li{
    font-size: 18px;
}

.Pendidikan > h5{
    font-size: 11px ;
    margin: 0 0 0 0.7cm;
}

h3{
    color: darkolivegreen;
}

.Projek1{
    display: flex;
    font-family: "Heebo",sans-serif;
}

.Projek1 > img{
    width: 200px;
    height: 200px;

}

.Projek1 > h2{
    margin-left: 1cm;    
}

h2 > q{
    background-color: rgb(12, 177, 177);
    width: 105px;
    font-size: small;
    border-radius: 10px;
}

h2 > li{
    font-size: small;
}

.Projek2{
    display: flex;
    font-family: "Heebo",sans-serif;
}

.Projek2 > img{
    width: 220px;
    height: 180px;
}

.Projek2 > h2{
    margin-left: 18px;
}

h2 > p{
    font-size: small;
}

.medsos{
    text-align: center;
}

.fa-instagram{
    font-size: 30px;
    margin: 10px ;
}

.fa-linkedin{
    font-size: 30px;
}